node_modules
.env
backend/dist
*.tsbuildinfo
.DS_Store
.idea
.vscode
*.log
coverage


# Terraform
infrastructure/.terraform*
infrastructure/terraform.tfstate*
infrastructure/*.tfvars
*.pem
*_key
id_rsa*
id_ed25519*
