services:
  postgres:
    image: postgres:15-alpine
    container_name: tfm_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: marketplace
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    container_name: tfm_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/marketplace
      JWT_SECRET: dev_secret_key_change_in_prod
    depends_on:
      - postgres
    # volumes:
    #   - ./backend:/app

  frontend:
    container_name: tfm_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
    depends_on:
      - backend

  mailpit:
    image: axllent/mailpit
    container_name: tfm_mailpit
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
